/*From bootstrap*/
@charset "UTF-8";

:root {
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	overflow-x: hidden;
	font-size: 70.5%;
}

/*BodySection*/
body {
	margin: 0;
	font-family: var(--bs-font-sans-serif);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-size-adjust: 100%;
}

/*Headings*/
.heading {
	color: #000000;
	font-size: 4.5rem;
	padding: 1rem;
	padding-top: 6rem;
	text-align: center;
	letter-spacing: .2rem;
	text-shadow: 0 .4rem .5rem rgba(0, 0, 0, .3);
	text-decoration: underline;
	text-decoration-style: double;
}

.heading span {
	color: #ff751a;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-decoration: underline;
	text-decoration-style: double;
}

/*Header Section*/
header {
	width: 96%;
	background: #262626;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: .5rem;
	box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
	padding: .3rem 2rem;
	transition: .2s linear;
	z-index: 1000;
}

.header-active {
	top: 0;
	width: 100%;
	border-radius: 1;
}

/*HeaderLogo*/
header .logo {
	color: #e6e6e6;
	font-size: 3rem;
	margin: 1rem;
}

header .logo span {
	color: #ff751a;
}

.border {
	border: 3px solid #ff751a;
}

/*NavigationBar*/
header .navbar ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

header .navbar ul li {
	margin: 0 1rem;
}

header .navbar ul li a {
	font-size: 2rem;
	color: #e6e6e6;
	transition: .2s linear;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
	color: #ff751a;
}

/*Send navigation bar into mobile version*/
header .fa-bars {
	font-size: 3rem;
	color: #ff751a;
	cursor: pointer;
	display: none;
}

/*Home Section*/
.home {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	padding: 2rem 10rem;
	border-bottom: 2px solid #e6fff3;
}

.bg-image{
	/* Center and scale the image nicely */
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}

/*Image Responsive*/
.responsive {
	width: 100%;
	max-width: 600px;
	height: auto;
}

/*Home section*/
.home .content {
	margin-top: 7rem;
}

.mainH1 {
	font-size: 6.1vw;
	color: #fff;
	text-shadow: 0 .3rem .5rem #000;
	text-align: center;
}

.home .content p {
	font-size: 1.5vw;
	color: #000000;
	text-shadow: 0 .3rem .5rem #000;
	padding-left: 2rem;
	border-left: .3rem solid #ddd;
	text-transform: capitalize;
}

.imgWelcome {
	display: block;
	margin-top: 4rem;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 1px solid black;
	box-shadow: 0 .3rem .5rem #000;
}

/*Location section*/
.location {
	min-height: 100vh;
	border-top: 2px solid #e6fff3;
	border-bottom: 2px solid #e6fff3;
	text-transform: capitalize;
}

.location .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.location .card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.location .card-container .card {
	width: 28rem;
	margin: 2rem;
	background: #fff;
	border-radius: .5rem;
	box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
	overflow: hidden;
	position: relative;
}

.location .card-container .card img {
	height: 20rem;
	width: 100%;
	object-fit: cover;
}

.location .card-container .content {
	padding-bottom: 1rem;
	text-align: center;
}

.location .card-container .content .title {
	color: black;
	font-size: 1.5rem;
	text-shadow: 0 .4rem .6rem rgba(0, 0, 0, .3);
	text-transform: capitalize;
}

.location .card-container .content p {
	color: #333;
	font-size: 1.3rem;
	padding: 1rem;
}

.location .card-container .content .btn {
	font-size: 1.9rem;
	margin-bottom: 1.4rem;
	height: 4rem;
	width: 100%;
	border-radius: .5rem;
	outline: none;
	border: .1rem solid #000;
	background: #ff751a;
	color: #fff;
	cursor: pointer;
	transition: .2s linear;
	text-transform: capitalize;
	
}

.location .card-container .content .btn:hover {
	background: none;
	border: .2rem solid #ff751a;
	color: #ff751a;
}

/*Activiy section*/
.activities {
	min-height: 100vh;
	border-top: 2px solid #e6fff3;
	border-bottom: 2px solid #e6fff3;
}

.activities .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.activities .card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.activities .card-container .card {
	width: 28rem;
	margin: 2rem;
	background: #fff;
	border-radius: .5rem;
	box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
	overflow: hidden;
	position: relative;
}

.activities .card-container .card img {
	height: 20rem;
	width: 100%;
	object-fit: cover;
}

.activities .card-container .content {
	padding-bottom: 1rem;
	text-align: center;
}

.activities .card-container .content .title {
	color: black;
	font-size: 1.5rem;
	text-shadow: 0 .4rem .6rem rgba(0, 0, 0, .3);
	text-transform: capitalize;
}

.activities .card-container .content .btn {
	font-size: 1.9rem;
	margin-bottom: 1.4rem;
	height: 4rem;
	width: 100%;
	border-radius: .5rem;
	outline: none;
	border: .1rem solid #000;
	background: #ff751a;
	color: #fff;
	cursor: pointer;
	transition: .2s linear;
	text-transform: capitalize;
}

.activities .card-container .content .btn:hover {
	background: none;
	border: .2rem solid #ff751a;
	color: #ff751a;
}

/*Contact Us Section*/
.contact .row {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.contact .row .contact-info .box {
	margin: 4rem 2rem;
	background-color: aliceblue;
}

.contact .row .contact-info .box h3 {
	font-size: 2rem;
	color: #333;
	
}

.contact .row .contact-info .box h3 i {
	color: #ff751a;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.contact .row .contact-info .box p {
	padding-left: 3rem;
	font-size: 1.7rem;
	color: #aaa;
}

/*contact us form*/
.contact .row .contact-form-container {
	width: 50%;
}

.contact .contact-form-container z {
	font-size: 3rem;
	padding-top: 4rem;
	color: #ff751a;
}

.contact .row .contact-form-container .inputBox {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact .row .contact-form-container .inputBox input {
	width: 49%;
}

.contact .row .contact-form-container form input,
textarea {
	outline: none;
	border: .2rem solid #ff751a;
	height: 4rem;
	background: #fff;
	padding: 0 1rem;
	margin: 1rem 0;
	font-size: 1.8rem;
}

.contact .row .contact-form-container form textarea {
	width: 100%;
	padding: 1rem;
	resize: none;
	height: 20%;
}

.contact .row .contact-form-container form input[type="submit"] {
	color: #0098a1;
	border: .2rem solid #0098a1;
	cursor: pointer;
	transition: .2s;
	width: 20rem;
}

.contact .row .contact-form-container form input[type="submit"]:hover {
	color: #fff;
	background: #0098a1;
}

/*Footer section*/
.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	background: #222;
}

.footer .credit {
	font-size: 1.5rem;
	color: #eee;
	text-transform: capitalize;
}

.footer .credit span {
	color: #ff751a;
}

.footer .icons a {
	font-size: 1.5rem;
	margin: 0 .5rem;
	height: 4rem;
	width: 4rem;
	line-height: 3.5rem;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	border: .2rem solid #fff;
	transition: .2s linear;
}

.footer .icons a:hover {
	background: #ff751a;
}

/************************* media queries ***************************************** */

@media (max-width:991px) {

	.home {
		flex-flow: column;
		padding: 1.5rem;
	}

	.home .content {
		text-align: center;
	}

	.home .content h1 {
		font-size: 5.5rem;
	}

	.home .content p {
		font-size: 1.8rem;
		padding: 0;
		border: none;
	}
}

@media (max-width:768px) {

	html {
		font-size: 55%;
	}

	header .fa-bars {
		display: block;
	}

	header .navbar {
		position: fixed;
		top: -100rem;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		background-color: #262626;
		border-radius: .5rem;
		box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
		z-index: 1000;
		transition: .2s linear;
		opacity: 0;
	}

	header .navbar ul {
		flex-flow: column;
	}

	header .navbar ul li {
		margin: 1rem 0;
		width: 100%;
		text-align: center;
	}

	header .navbar ul li a {
		display: block;
		font-size: 3rem;
	}

	header .nav-toggle {
		top: 5.5rem;
		opacity: 1;
	}

	.about .row {
		flex-flow: column;
	}

	.about .row .image img {
		width: 90vw;
	}

	.about .row .content {
		text-align: center;
	}

	.about .row .content .btn1 {
		margin-right: 0;
	}

	.contact .row {
		flex-flow: column;
		align-items: flex-start;
	}

	.contact .row .contact-form-container {
		width: 90%;
		margin: 0 auto;
	}


	.footer {
		flex-flow: column;
	}

	.footer .credit {
		text-align: center;
		padding-bottom: 3rem;
	}

}

@media (max-width:500px) {

	.home .form-container {
		width: 100%;
	}

	.home .form-container form {
		width: 100%;
		margin: 3rem 0;
	}

	.home .form-container form input[type="submit"] {
		width: 100%;
	}

	.contact .row .contact-form-container form input {
		margin: 1rem 0;
		width: 100%;
	}

	.contact .row .contact-form-container form input[type="submit"] {
		width: 100%;
	}

}

.contact .row {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.contact .row .contact-info .box {
	margin: 4rem 2rem;
}

.contact .row .contact-info .box h3 {
	font-size: 2rem;
	color: #333;
}

.contact .row .contact-info .box h3 i {
	color: #ff751a;
}

.contact .row .contact-info .box p {
	padding-left: 3rem;
	font-size: 1.7rem;
	color: #aaa;
}

.contact .row .contact-form-container {
	width: 50%;
}

.contact .row .contact-form-container h3 {
	font-size: 4rem;
	padding-top: 4rem;
	color: #ff751a;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.contact .row .contact-form-container .inputBox {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact .row .contact-form-container .inputBox input {
	width: 49%;
}

.contact .row .contact-form-container form input,
textarea {
	outline: none;
	border: .2rem solid #000;
	height: 4rem;
	background: #fff;
	padding: 0 1rem;
	margin: 1rem 0;
	font-size: 1.8rem;
}

.contact .row .contact-form-container form textarea {
	width: 100%;
	padding: 1rem;
	resize: none;
	height: 20%;
}

.contact .row .contact-form-container form input[type="submit"] {
	color: #ff751a;
	border: .2rem solid #ff751a;
	cursor: pointer;
	transition: .2s;
	width: 20rem;
}

.contact .row .contact-form-container form input[type="submit"]:hover {
	color: #fff;
	background: #ff751a;
}
